@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-m44t5d');
	src:url('fonts/icomoon.eot?#iefix-m44t5d') format('embedded-opentype'),
		url('fonts/icomoon.woff?-m44t5d') format('woff'),
		url('fonts/icomoon.ttf?-m44t5d') format('truetype'),
		url('fonts/icomoon.svg?-m44t5d#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home3:before {
	content: "\e902";
}

.icon-film:before {
	content: "\e913";
}

.icon-printer:before {
	content: "\e954";
}

.icon-display2:before {
	content: "\e956";
}

.icon-laptop:before {
	content: "\e957";
}

.icon-mobile2:before {
	content: "\e959";
}

.icon-display:before {
	content: "\e600";
}

.icon-phone:before {
	content: "\e601";
}

